<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.rssfeed" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RSS FEED</name>
    <description>
        Working with JQuery Mobile
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        FX Team
    </author>
	<icon src="icon.png" />
    <splash src="splash.jpg" />
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
